
/* zero */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Light.ttf);
    font-weight:300;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 600,700;
}



input{
    outline: none;
    border: none;
}


a{
     text-decoration: none;
 }

 h1,h2,h3,h4,h5,h6{
     margin: 0;
     padding: 0;
 }

 .container{
     max-width: 1258px;
     width: 100%;
     margin: auto;
 }


 /* header */
 .wrap_header{
     background: #F1F2F4;
 }

 .burger__item{
     display: flex;
     width: 32px;
     height: 23px;
     background: url(../img/icon/бургер.svg) no-repeat center;
    
 }

 .nav__block{
     display: flex;
     justify-content: space-between;

 }

 .nav__link{
         /* text */
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 14px;
         text-transform: uppercase;
         color: #000000; 
         z-index: 1;
         display: flex;
         padding: 20px;
 }

 .nav__link:hover{
    color: #FA9E00;
 }

 .nav__link:active{
     background:#D9D9D9 ;
 }

 .burger{
    background: #FFFFFF;
box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.25);
width: 72px;
height: 72px;
display: flex;
align-items: center;
justify-content: center;
 }

 .logo{
     display: flex;
     margin-left: 30px;
     align-items: center;
 }

 .text_icon{
     margin-left: 5px;
 }

 .title__logj{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
 }

 .text_logo{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-transform: capitalize;
    color: #2F353C;
 }

 .text_prev{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #8E8E8E;
    max-width: 134px;
    width: 100%;
 }
 
 .select_city__list{
     display: flex;
     align-items: center;
 }

 .city_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    color: #6E6F72;
 }

 .list-pad{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: #34373C;
 }

 .text__time{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-transform: capitalize;
    color: #34373C;
 }

 .call_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: capitalize;
    color: #1C1C26;
    opacity: 0.77;
    margin-right: 27px;
 }

 .btn_call{
     display: flex;

    background: url(../img/icon/call.svg) no-repeat center #F1F2F4;
    border-radius: 5px;
    /* text */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
color: #1C1C26;
max-width: 189px;
width: 100%;
height: 44px;
align-items: center;
justify-content: center;
background-position: 19px;
 }

 .header__sub{
     position: relative;
     border-bottom: 1px solid #EEEEEE;
 }



 .item__icon{
    background: url(../img/icon/бургер.svg) no-repeat ;
    width: 32px;
    height: 23px;
    margin-right: 17px;
 }

 .wrapp_block_info{
     display: flex;
     justify-content: space-between;
     /* padding-top: 15px;
     padding-bottom: 15px; */
     align-items: center;
 }

 .block__left{
     display: flex;
     align-items: center;
 }

 .text_prev{
     margin-left: 39px;
 }

 .select_city__list{
     margin-left: 39px;
 }


 .time__work{
     display: flex;
     align-items: center;
 }

 .call__block{
     display: flex;
     align-items: center;
     max-width: 365px;
     width: 100%;
 }

 /* PROMO */

 .text_tab_prom{
     max-width: 198px;
     width: 100%;
     margin-left: 20px;
 }

 .tab_prom{
     display: flex;
     align-items: center;
     margin-right: 92px;
 }

 .tab_prom:last-child{
     margin-right: 0;
 }

 .block_inputs{
     display: flex;
     align-items: center;
     max-width: 750px;
     width: 100%;
     margin-top: 40px;
 }

 .wrap_input{
     max-width: 360px;
     width: 100%;
 }

 .call_next{
     padding: 17px 109px 17px 109px;
     background: linear-gradient(180deg, #F99644 0%, rgba(233, 63, 64, 0.9) 100%);
    border-bottom: 3px solid #B7343B;
    border-radius: 5px;
    /* text */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
 }

 .number_prom{
    border: 2px solid #B0BCC3;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    max-width: 360px;
    width: 100%;
    margin-right: 30px;
 }

 .block_tabs{
    margin-top: 49px;
     display: flex;
    
 }

 .label{
    display: flex;
    align-items: center;
    justify-content: right;
    max-width: 670px;
    width: 100%;
    margin-top: 10px;
 }

 .chekbox{
    display: none;
 }

 .fake{
    position: relative;
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 2px solid #9F9F9F;
    border-radius: 5px;
    background:#4F4F4F ;
 }

 .fake::before{
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
    opacity: 0;
    background: url(../img/icon/correctsymbol.svg);
 }

 .chekbox:checked + .fake::before{
    opacity: 1;
 }

 .text_fake{
font-family: 'Roboto';
font-style: italic;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #818181;
max-width: 250px;
width: 100%;
margin-left: 10px;
 }

 .wrapp_promo_cont{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    align-items: center;
 }

 .block_text_promo{
    max-width: 750px;
    width: 100%;
 }

 /* block__mers */

 .wrapp__mers_block_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 200px;
 }

 .red{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 22px;
color: #E93F40;
 }

 .title_block_text{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 35px;
color: #000000;
max-width: 395px;
width: 100%;
margin-bottom: 20px;
 }



 .block__img_text{
    display: flex;
    align-items: center;
 }


 .block__text_first{
    margin-bottom: 40px;
 }

 .wrapp__cont{
    margin-top: 41px;
    background: #F6F5F2;
    margin-bottom: 54px;
 }

 /* map */

 .title_serv__map{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 30px;
color: #000000;
text-align: center;
margin-bottom: 60px;
 }

 .block_slide_map{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 19px;
 }

 .link_adress_service{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 30px;
color: #333333;
display: flex;
flex-direction: column;
 }

 .strong__adress{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
color: #333333;
 }

 .scroll_bar{
    max-width: 281px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    height: 320px;
 }



 .scroll_bar::-webkit-scrollbar-thumb{
background: rgba(0, 0, 0, 0.7);
border-radius: 5px;
 }

 .scroll_bar::-webkit-scrollbar{
    background: #D9D9D9;
    border-radius: 5px;
    width: 5px;
 }

 /* work_money */

 .wrapp_cont_work_m{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 80px;
 }

 .title__work_mon{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 40px;
color: #000000;
 }

 .block_mon_text{
    display: flex;
    align-items: center;
    gap:0px 11px;
    max-width: 500px;
    width: 100%;
    margin-left:auto ;
    margin-top: 20px;
 }

 .tile_mon_work_t{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 40px;
color: #E93F40;
 }

 .text_mon_cont{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #000000;
max-width: 236px ;
width: 100%;
 }

 .block_form_in{
    margin-top: 30px;
    max-width: 550px;
    width: 100%;
 }

 .numb_mon{
    border: 2px solid #B0BCC3;
    border-radius: 5px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 15px;
    max-width: 256px;
    width: 100%;
    margin-right: 30px;
 }

 .giv_mon{
    background: linear-gradient(180deg, #F99644 0%, rgba(233, 63, 64, 0.9) 100%);
    border-bottom: 3px solid #B7343B;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 57px;
    padding-right: 57px;
 }

 .label__set{
    max-width: 280px;
    width: 100%;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 15px;
 }

.work__money{
    background: #F6F5F2;
    margin-top: 50px;
    margin-bottom: 50px;
}

.work_money_img{
    padding-top: 14px;
    padding-bottom: 16px;
}

/* co-workers */

.co-workers{
    margin-bottom: 100px;
}

.title_co_w{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 30px;
color: #000000;
text-align: center;
margin-bottom: 45px;
}

.card_co{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_blcok_co{
    display: flex;
    gap: 0px 55px;
    justify-content: center;
}

.text_card_co_name, .text_pos_co{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 30px;
color: #9BAAB4;
}

.co_img_card{
    margin-bottom: 20px;
}

.text_trust{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #5B6559;
text-align: center;
margin-top: 40px;
}

/* service */

.sup_serv__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapp_serv{
    background: #E5E9F1;
    padding-top: 59px;
    padding-bottom: 80px;
}

.title_cerv{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 40px;
color: #1C1C26;
position: relative;
}

.title_cerv::after{
position: absolute;
content: '';
top: 20px;
left: 219px;
width: 120px;
height: 1px;
background: #C2C7CC;
}

.calculator{
background: #ED1A37;
border-radius: 5px;
padding: 12px 65px 10px 65px;
/* text */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */
color: #FFFFFF;
}

.card_serv{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 5px;
    max-width: 299px;
    width: 100%;
    padding-left: 29px;
    padding-top: 23px;
    padding-bottom: 49px;
}

.title_card_serv{
margin-bottom: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height: 20px;
color: #1C1C26;
}

.link_serv{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #000000;
margin-bottom: 15px;
}

.link_serv:last-child{
    margin-bottom: 0;
}

.card_serv_cont{
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    margin-top: 34px;
}

/* why_exactly */

.why_exactly{
    background: #1C1C26;
    padding-top: 60px;
    padding-bottom: 100px;
}

.sup_cont_ben{
    display: flex;
    align-items: center;
}

.text_title_certeficate{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding-top: 20px;
    margin-left: 20px;
}

.set_cer{
    max-width: 90px;
    width: 100%;
}

.text_info_ben{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
max-width: 186px;
width: 100%;
position: relative;
margin-left: auto;
margin-top: 15px;
}







.text_info_ben::after{
    position: absolute;
    content: '';
    top: 0;
    left: -15px;
    width: 5px;
    height: 5px;
    background: red;
}

.text_info_ben::before{
    position: absolute;
    content: '';
    top: 0;
    left: -13px;
    width: 1px;
    max-height: 150px;
    height: 100%;
    background: #D9D9D9;
    display: flex;
}

.card_ben{
    max-width: 271px;
    width: 100%;
}

.why__title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 40px;
color: #FFFFFF;
margin-bottom: 54px;
position: relative;
}

.why__title::after{
    position: absolute;
content: '';
top: 20px;
left: 329px;
width: 120px;
height: 1px;
background: #FFFFFF;
}

.block_benefits{
    display: flex;
    justify-content: center;
    gap: 0px 50px;
}

.set_camera{
    max-width: 90px;
    width: 100%;
}

.set_setting{
    max-width: 151px;
    width: 100%;
}

.set_map{
    max-width: 112px ;
    width: 100%;
}

/* link avto */

.block_link_avto{
    display: flex;
    justify-content: center;
    gap: 0px 180px;
}

.link__block_avto{
    display: flex;
    flex-direction: column;
}

.mark_avto{
    background: #E6E6E8;
    padding-top: 61px;
    padding-bottom: 46px;
}

.link__avto{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #1C1C26;
margin-bottom: 15px;
}

.link__avto:last-child{
    margin-bottom: 0;
}

.link__avto:hover{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #761B1B;
text-decoration: underline;
transition: 0.3s;
}

.btn_all__marks{
background: #F1F2F4;
border-radius: 3px;
padding: 13px 34px 13px 34px;
/* text */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 22px;
text-align: center;
color: #1C1C26;
display: flex;
align-items: center;
justify-content: center;
max-width: 151px;
width: 100%;
}

.block__btn{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.wrapp_footer_s{
    background: #1C1C26;
}

.block_cont__footer_sup{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #33333C;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn__footer{
    background: #FC9F00;
    border-radius: 3px;
    padding: 12px 27px 12px 27px;
    /* text */
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.block__link_foot{
    display: flex;
    flex-direction: column;
}

.block_center_links{
    display: flex;
    justify-content: center;
    gap: 0px 50px;
    margin-top: 50px;
    border-bottom: 1px solid  #33333C;
    padding-bottom: 16px;
}

.link__foter{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 6px;
}

.link__foter:last-child{
    margin-bottom: 0;
}

.sett_blocks{
    margin-top: 30px;
}

.set_pol{
    max-width: 175px;
    width: 100%;
}

.set_free{
    margin-top: 9px;
}

.set_two{
    margin-top: 9px;
}

.set__one{
    margin-top: 4px;
}

.text_prim_pay{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;
color: #FFFFFF;
}

.block_card{
    display: flex;
    align-items: center;
    gap:0px 15px;
    margin-top: 24px;
}

.visa{
    background: url(../img/icon/visa.svg) no-repeat center;
    max-width: 60px;
    width: 100%;
    height: 20px;
    display: flex;
}

.master{
    background: url(../img/icon/master.svg) no-repeat center;
    max-width: 100px;
    width: 100%;
    height: 20px;
    display: flex;
}

.halva{
    background: url(../img/icon/halvalogo.svg) no-repeat center;
    max-width: 70px;
    width: 100%;
    height: 20px;
    display: flex;
    margin-top: 20px;
}

.text_smartphone{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 12px;
}

.app_store{
    background: url(../img/icon/aplle.svg) no-repeat center;
    max-width: 104px;
    width: 100%;
    height: 30px;
    display: flex;
}

.google_play{
    background: url(../img/icon/gogle.svg) no-repeat center;
    max-width: 104px;
    width: 100%;
    height: 30px;
    display: flex;
}

.block_store{
    display: flex;
    align-items: center;
    gap: 0px 16px;
    margin-top: 23px;
}

.numb__footer{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 19px;
text-transform: uppercase;
color: #696878;
margin-top: 22px;
}

.text__join{
margin-top: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 13px;
line-height: 20px;
display: flex;
align-items: center;
text-transform: uppercase;
color: #FFFFFF;
}

.vk{
    background: url(../img/icon/vk.svg) no-repeat center;
    max-width: 30px;
    width: 100%;
    height: 30px;
    display: flex;
}

.youtube{
    background: url(../img/icon/youtube.svg) no-repeat center;
    max-width: 30px;
    width: 100%;
    height: 30px;
    display: flex;
}

.block_soc__link{
    display: flex;
    align-items: center;
    gap: 0px 23px;
    margin-top: 20px;
}

.block_text__footer_politics{
    margin-top: 60px;
    padding-bottom: 42px;
}

.text_politics{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696878; 
    margin-bottom: 12px;
}

.text_politics:last-child{
    margin-bottom: 0;
}

.text_copy{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}

.copyright{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #16151E;
}

iframe{
    border: 0;
}












 